.about__text {
    width: 1048px;
    margin-bottom: 30px;

    font-size: 45px;
    letter-spacing: -1.35px;
    line-height: normal;

}
.about {
    margin-bottom: 150px;
}
.about__btn {
    display: inline-flex;
    text-decoration: none;

    width: auto 255px;
    height: auto 67px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    border-radius: 5px;

    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    background-color: #AD1818;
}
@media (max-width: 1199px) {
    .about {
        margin-bottom: 120px;
    }
    .about__text {
        width: 690px;
        font-size: 35px;
        letter-spacing: -1.05px;
    }
}
@media (max-width: 767px) {
    .about {
        margin-bottom: 80px;
    }
    .about__text {
        width: 100%;
        font-size: 22px;
        letter-spacing: -0.66px;
    }
    .about__btn {
        width: auto 140px;
        height: auto 51px;
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        border-radius: 3.8px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }
}