.full__width__btn {
    display: block;
    border: 1px solid #AD1818;
    text-decoration: none;
    
    width: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
    border-radius: 5px;

    font-size: 30px;
    letter-spacing: -0.9px;
    text-align: center;
    color: #AD1818;
}
.full__width__btn:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}
.full__width__btn__red {
    color: #FFFFFF;
    background-color: #AD1818;
}
.full__width__btn__small {
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    letter-spacing: -0.6px;
}
@media (max-width: 767px) {
    .full__width__btn {
        padding-top: 37px;
        padding-bottom: 36px;
        font-size: 22px;
        letter-spacing: -0.66px;
        border-radius: 3.802px;
    }
    .full__width__btn__small {
        padding: 20px 40px;
    }
}