.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #121212;
}
.footer__nav {
    display: flex;
    justify-content: center;
}
.footer__wrapper__nav {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.footer__nav__link {
    display: block;
    margin-bottom: 87px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: -0.54px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__nav__link:hover {
    opacity: 0.5;
}
.footer__text {
    text-align: center;
    font-size: 20px;
    letter-spacing: -0.6px;
    color: #FFF;
    opacity: 0.5;
}
@media (max-width: 767px) {
    .footer {
        padding-top: 30px;
        padding-bottom: 26px;
    }
    .footer__wrapper__nav {
        width: 281px;
    }
    .footer__nav__link {
        margin-bottom: 41px;
        font-size: 12px;
        letter-spacing: -0.36px;
    }
    .footer__text {
        font-size: 13px;
        letter-spacing: -0.39px;
    }
}