.full_page_img {
    margin-bottom: 150px;
    height: 717px;
    width: 100%;
    background-image: url(../resources/fullpageimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.full_page_img__wrapper {
    width: 443px;
    height: 82px;
    bottom: 60px;
    position: absolute;
}
.full_page_img__text {
    color: #FFFFFF;
}