@import url(nav.css);
@import url(hero.css);
@import url(about.css);
@import url(projects.css);
@import url(services.css);
@import url(reviews.css);
@import url(contacts.css);
@import url(full_page_img.css);
@import url(footer.css);
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Manrope', Courier, monospace;

}
.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}
h1 {
    width: 956px;
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;

}
h2 {
    margin-bottom: 30px;

    font-size: 18px;
    letter-spacing: -0.6px;
}

h3 {
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: -0.9px;
    color: #121212;
}
@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }
    h1 {
        width: 802px;
        font-size: 50px;
        letter-spacing: -1.5px;
    }
    h3 {
        margin-bottom: 10px;
        font-size: 25px;
        letter-spacing: -0.75px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 13px;
        padding-right: 12px;
    }
    h1 {
        width: 100%;
        margin-bottom: 25px;
    
        font-size: 30px;
        line-height: 32px;
        letter-spacing: -0.9px;
    
    }
    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        letter-spacing: -0.42px;
    }
    h3 {
        margin-bottom: 11px;
        font-size: 18px;
        letter-spacing: -0.54px;
    }
}